# Get from https://huggingface.co/settings/tokens
HF_TOKEN=hf_xxxYOURTOKENxxx

# Optional: select default model
HF_TTS_MODEL=facebook/mms-tts-eng       # or espnet/kan-bayashi-ljspeech
OUTPUT_DIR=samples
